* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.b-1 {
    background-image: url(githubIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}