* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.t-1::after{
    content: 'C';
    color: white;
    font-size: 1.7em;
}

.t-2::after{
    content: 'AC';
    color: white;
    font-size: 1.7em;
}

.t-3::after{
    content: '%';
    color: white;
    font-size: 1.7em;
}

/* NUMBER BTNS */
.n-1::after {
    content: '7';
    color: white;
    font-size: 1.7em;
}
.n-2::after {
    content: '8';
    color: white;
    font-size: 1.7em;
}
.n-3::after {
    content: '9';
    color: white;
    font-size: 1.7em;
}
.n-4::after {
    content: '4';
    color: white;
    font-size: 1.7em;
}
.n-5::after {
    content: '5';
    color: white;
    font-size: 1.7em;
}
.n-6::after {
    content: '6';
    color: white;
    font-size: 1.7em;
}
.n-7::after {
    content: '1';
    color: white;
    font-size: 1.7em;
}
.n-8::after {
    content: '2';
    color: white;
    font-size: 1.7em;
}
.n-9::after {
    content: '3';
    color: white;
    font-size: 1.7em;
}

/* MODULES */
.r-1::after {
    content: '/';
    color: white;
    font-size: 1.7em;
}

.r-2::after {
    content: '*';
    color: white;
    font-size: 1.7em;
}
.r-3::after {
    content: '-';
    color: white;
    font-size: 1.7em;
}
.r-4::after {
    content: '+';
    color: white;
    font-size: 1.7em;
}
.r-5::after {
    content: '=';
    color: white;
    font-size: 1.7em;
}

/* bottom */
.b-1::after {
    content: '.';
    color: white;
    font-size: 1.7em;
}

.b-2::after {
    content: '0';
    color: white;
    font-size: 1.7em;
}

.b-3::after {
    content: ',';
    color: white;
    font-size: 1.7em;
}